extends ../app

block variables
  -
    const pageTitle = `Товари`;

block content
  .page.shop-goods
    nav
      .back
        a.btn.btn-dark(href='/shops') Назад

      .save-excel
          button
            img(src='/images/excel.png', alt='excel')

    table.table-bordered#goods
      tr
        th.id #
        th.title Заголовок
        th.description Опис
        th.price Ціна
        th.attributes Атрибути
        th.text Повний опис
        th.images Зображення
        th.actions

      each good, index in goods
        tr(id= `good_${good._id}`)
          td #{index + 1}

          td.title
            input.form-control.data(type='text', value= good.title, title= good.title)

          td.description
            textarea.form-control.full-height.data #{good.description}

          td.price
            input.price.form-control.data(type='text', value= good.price)

          td.attributes
            textarea.form-control.full-height.data #{good.attributes}

          td.text
            p.text #{good.text}
          
          td.images
            each src of good.images
              img(src= src)

          td.actions
            .actions.full-height
              a.btn.btn-primary.link(href= `https://www.instagram.com/p/${good.link}`, target='_blank') Перейти
              button.btn.btn-danger Видалити

block scripts
  script(src='/javascripts/web/goods.script.js')
  