extends ../app

block variables
  -
    const pageTitle = `Магазини`;

block content
  .page.shops
    .back
      a.btn.btn-dark(href='/') Назад
  
    table.table-bordered
      tr
        th.id #
        th.name Назва
        th Посилання
        th Товари
      
      each shop, index in shops
        tr(id= `shop_${shop._id}`)
          td #{index + 1}
          td
            input.form-control(type='text', value= shop.name)
          td
            a.link(href= `https://www.instagram.com/${shop.link}`, target='_blank') #{shop.link}
          td
            a.btn.btn-primary(href= `/shops/goods?shop_id=${shop._id}`) Перейти

block scripts
  script(src='/javascripts/web/shops.script.js')
