extends ../app

block variables
  -
    const pageTitle = `Магазини`;

block content
  .page.shops
    .back
      a.btn.btn-dark(href='/') Назад
  
    table.table-bordered#shops
      tr
        th.id #
        th.name Назва
        th Посилання
        th.actions

      each shop, index in shops
        tr(id= `shop_${shop._id}`)
          td #{index + 1}

          td.name
            input.form-control.data(type='text', value= shop.name)

          td
            a.link(href= `https://www.instagram.com/${shop.link}`, target='_blank') #{shop.link}

          td.actions
            .actions
              a.btn.btn-primary(href= `/shops/goods?shop_id=${shop._id}`) Товари
              button.btn.btn-danger Видалити

block scripts
  script(src='/javascripts/web/shops.script.js')
